// Glyphicons font path
$icon-font-path:        "../fonts/";

//My fonts
$primary-font: Futura,Helvetica,Arial,sans-serif;
$secondary-font: "adobe-garamond-pro",sans-serif;

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #39CCCC;
$brand-black:           #000000;
$border:                #D9D9D9;

// Breakpoints
$breakpoint-tablet:     992px;
$breakpoint-mobile:     767px;
