footer {
  background-color: #f8f8f8;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  .subscribe {
    font-family: $secondary-font;
    font-size: 2rem;
    padding: 70px 0;
    h3 {
      text-transform: uppercase;
      font-size: 4rem;
    }
    .containers {
      text-align: center;
    }
  }
}
