footer {
  background-color: #f8f8f8;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  .row {
      margin-left: 0px;
      margin-right: 0px;
  }

  .brand {
    color: black;
  }

  .subscribe {
    font-family: $secondary-font;
    font-size: 2rem;
    padding: 70px 0;
    h3 {
      text-transform: uppercase;
      font-size: 4rem;
    }
    .containers {
      text-align: center;
      @media all and (max-width:767px) {
        padding: 0 40px;
      }
    }
  }
  .end {
    background: #fff;
    clear: both;
    padding: 50px 0 20px 0;

    img {
      width: 50%;
    }
    .social-media {
      text-align: right;
    }
    .copy {
      text-align: center;
    }
  }

}
