// need to figure out where to add this line
a {
    transition: color 0.2s ease, background 0.6s ease, border-color 0.2s ease;
}

// header{
//   .row{
//       margin-top: 30px;
//   }
// }

.banner {
  // background: #fff;
  // height: 203px;
  // position: fixed;
  // top: 0;
  // transition: top .53s ease-out;
  // width: 100%;
}

.nav-up {
    // top: -203px;
}


.fa-2x {
  font-size: 1.5em;
}

.banner-container {
  margin-top: 50px;
}

.social-media {
  ul {

  }
  li {
    list-style: none;
    display: inline-block;
    padding: 0  5px;
  }
    :first-child {
      padding-left: 0;
    }
  a {
    color: $brand-black;
  }
    :hover{
      text-decoration: none;
      color: $brand-primary;
    }
}

.logo {
  // text-align: center;
  position: relative;
  top: -31px;
  .logo-container {
    width: 50%;
    margin: 0 auto;
  }
  img{
     width: 100%;
  }
}


.nav-primary {
  margin-top: 10px;
  padding: 10px 0;
  border-top: 1px solid $border;
  border-bottom: 1px solid $border;
  ul {
    text-align: center;
  }
    li {
      display: inline-block;
    }
      a {
        font: normal 400 14px/14px Futura,Helvetica,Arial,sans-serif;
        text-transform: uppercase;
        color: $brand-black;
        padding: 10px 5px !important;
        margin: 0 15px;
        border-bottom: 1px solid transparent;
        &:before {
          position: absolute;
          bottom: 0px;
          left: 50%;
          height: 3px;
          width: 50px;
          margin-left: -25px;
          display: block;
          content: '';
          background-color: #000;
          -webkit-transform: scale(0, 1);
          -ms-transform: scale(0, 1);
          transform: scale(0, 1);
          transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }
        &:hover,&:active{
          background: #fff !important;
          &:before{
            transform: scale(1, 1);
          }
        }
      }
}


@media (max-width: $breakpoint-tablet) {
  .nav-primary {
    display: none;
  }
  .logo {
    position: relative;
    top: 0px;
    .logo-container {
      width: 100%;
    }
  }
  .mobile {
    .brand{
      img{
        max-width: 60% !important;
      }
    }
  }
  header .desktop{
    display: none;
  }
}

// @media (min-width: $breakpoint-tablet) {
//   .mobile {
//
//     .brand{
//
//       img{
//         width: 50%;
//       }
//     }
//   }
// }

.mobile {
  text-align: center;
  margin:0px;
  padding: 15px 0px;
  background: #fff;
  border-bottom: 1px solid $btn-default-border;

  .searchbox-open {
    width: 500%;
  }

  .brand {

    img{
      max-width: 40%;
    }
  }
}

// MMenu flicker onload fixed
#mobile-menu:not( .mm-menu ) {
   display: none;
}
