// need to figure out where to add this line
a {
    transition: color 0.2s ease, background 0.6s ease, border-color 0.2s ease;
}

// header{
//   .row{
//       margin-top: 30px;
//   }
// }

.banner {
  // background: #fff;
  // height: 203px;
  // position: fixed;
  // top: 0;
  // transition: top .53s ease-out;
  // width: 100%;
}

.nav-up {
    // top: -203px;
}


.fa-2x {
  font-size: 1.5em;
}

.row {
  margin-top: 50px;
}
.social-media {
  ul {

  }
  li {
    list-style: none;
    display: inline-block;
    padding: 0  5px;
  }
    :first-child {
      padding-left: 0;
    }
  a {
    color: $brand-black;
  }
    :hover{
      text-decoration: none;
      color: $brand-primary;
    }
}

.logo {
  text-align: center;
  position: relative;
  top: -31px;
  img{
    // width: 100%;
  }
}



.nav-primary {
  margin-top: 10px;
  padding: 10px 0;
  border-top: 1px solid $border;
  border-bottom: 1px solid $border;
  ul {
    text-align: center;
  }
    li {
      display: inline-block;
    }
      a {
        font: normal 400 14px/14px Futura,Helvetica,Arial,sans-serif;
        text-transform: uppercase;
        color: $brand-black;
        padding: 10px 5px !important;
        margin: 0 15px;
        border-bottom: 1px solid transparent;
        &:hover,&:active{
          color: $brand-primary;
          background: white !important;
          border-bottom: 1px solid $brand-primary;
        }
      }
}


@media (max-width: $breakpoint-tablet) {
  .nav-primary {
    display: none;
  }
  header .desktop{
    display: none;
  }
}

.mobile {
  margin:0px;
  padding: 30px 0 0 0;
  background: #fff;
  border-bottom: 1px solid $btn-default-border;

  .searchbox-open {
    width: 500%;
  }
}

// MMenu flicker onload fixed
#mobile-menu:not( .mm-menu ) {
   display: none;
}
