.wrap{
  .content{
    margin-top: 0px;
  }
}

.main {
  .row{
    margin-top: 0px;
  }
}

.article-container {
  margin-bottom: 40px;
  img {
    max-width: 100%;
    height: auto;
    &:hover {
      transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
      opacity: 0.8;
    }
  }
}

.article-header{
  text-align: center;
  .category{
    padding-top: 20px;
    a{

      &:hover {
        text-decoration: none;
    }
    }
  }
  h1 {
    margin-top: 10px;
    line-height: 28px;
      a{
      color: $brand-black;
      font-size: 28px;
      &:hover {
        text-decoration: none;
        color: $brand-primary;
        transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1)
      }
    }
  }
  .entry-time{

  }
}

.box{
  border: 1px solid #e9e9e9;
  width: 40px;
  height: 40px;
  // text-align: center;
  line-height: 40px;
  padding-left: 13px;
  cursor: pointer;
  float: left;
    &:hover{
      text-decoration: none;
        :before{
        opacity: 1;
      }
    }
    &:nth-child(2){
      margin-left: 10px;
    }
  .glyphicon{

    &:before{
      color:#000;
      opacity: 0.6;
    }
  }
  .fa-share{

    &:before{
      color:#000;
      opacity: 0.6;
    }
    &:hover{
      text-decoration: none;
      &:before{
        opacity: 1;
      }
    }
  }
}

.more-button {
  display: inline-block;
  overflow: hidden;
  top: 12px;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.more-button {
  &:before{
    display: inline-block;
    width: 20px;
    cursor: pointer;
    color: #cccccc;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

.more-button:hover:before,
.more-button:active:before {
  color: #595959;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.more-button:hover,
.more-button:active {
  width: 250px;
}

.share-container {
  display: inline-block;
  opacity: 0;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 250px;
  position: absolute;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  a {
    color: #000;
    &:hover {
      text-decoration: none;
      color: $brand-primary;
    }
  }
}
.share-container .share-btn {
  font-size: 1.2em;
  padding: 10px;
  color: #b0b0b0;
}
.share-container .share-btn:hover,
.share-container .share-btn:active {
  text-shadow: 0 0 5px rgba(85, 190, 235, 0.45);
  color: #55beeb;
}
.more-button:hover, .more-button:active {
  .share-container {
  display: inline-block;
  left: 35px;
  position: absolute;
  opacity: 1;
  width: 250px;
  top: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  }
}

.entry-share {
  .more {
    display: inline-block;
    float: right;
    button{
      border-radius: 0px;
      border: 1px solid transparent;
      background: #000;
      color: #fff;
      transition: .25s;
      &:hover {
        background: $brand-primary;
      }
      a {
        color: #fff;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
