.single {
  font-family: $secondary-font;
  h1 {
    font-size: 66px;
    line-height: 72px;
    word-break: normal;
  }
  p {
    font-size: 20px;
    line-height: 140%;
    margin-bottom: 20px;
    margin-top: 0px;
    overflow: hidden;
  }
}

.share-side {
  margin-left: -12px;
  z-index: -1 !important;

  a {
    color: #FFF;
    display: block;
    font-size: 1.8em;
    line-height: 48px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: .2s;
    width: 48px;

    &:hover {
      transform: scale(1.1);
      z-index: 1;
    }

    &.fa-facebook { background: #305991; }
    &.fa-twitter { background: #2DA8D2; }
    &.fa-pinterest { background: #CA232A; }
    &.fa-google-plus { background: #DD4C39; }
    &.fa-envelope { background: #728A8C; }

    &:before{
      line-height: 40px;
    }
  }
}

.avatar {

  img{
    width: 40px;
    height: 40px;
  }
}

.page-header {
  text-align: center;
}
