.article-container {

  img {
    max-width: 100%;
    height: auto;
    &:hover {
      transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
      opacity: 0.8;
    }
  }
}

.article-header{
  text-align: center;
  .category{
    padding-top: 20px;
    a{

      &:hover {
        text-decoration: none;
    }
    }
  }
  h1 {
    margin-top: 10px;
    line-height: 28px;
      a{
      color: $brand-black;
      font-size: 28px;
      &:hover {
        text-decoration: none;
        color: $brand-primary;
        transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1)
      }
    }
  }
  .entry-time{

  }
}

.box{
  border: 1px solid #e9e9e9;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  float: left;
    &:nth-child(2){
      margin-left: 10px;
    }
  .fa-comment-o{

    &:before{
      color:#000;
      opacity: 0.6;
    }
    &:hover{
      text-decoration: none;
      &:before{
        opacity: 1;
      }
    }
  }
  .fa-share{

    &:before{
      color:#000;
      opacity: 0.6;
    }
    &:hover{
      text-decoration: none;
      &:before{
        opacity: 1;
      }
    }
  }
}
