.slick-slide img{
  width: 100%;
  height: auto;
}

.center {

  .slick-slide{
    position: relative;
    .featured-title{
      padding: 28px 28px 18px 28px;
      left: 0;
      right: 0;
      top: auto;
      bottom: 0;
      position: absolute;
      background: rgba(0, 0, 0, 0.4);
      transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
        &:hover{
          background: $brand-primary;
          height: auto;
        }
      a {
        color:white;
      }
    }
  }
}
