.slick-slide img{
  width: 100%;
  height: auto;
}
.slick-slider {
  // margin-top:17px;
}
.center {

  .slick-slide{
    position: relative;
    cursor: pointer;
    p {
      margin: 0;
      color: white;
    }
    h1 {
      margin-top: 5px;
      margin-bottom: 25px;
      font-size: 30px;
    }
    .link {
      margin-top: 10px;
      text-transform:uppercase;
    }
    .category {
        font-family: $secondary-font;
    }

    .featured-title{
      padding: 28px 28px 18px 28px;
      left: 0;
      right: 0;
      top: auto;
      bottom: 0;
      position: absolute;
      background: rgba(0, 0, 0, 0.4);
      height: 110px;
      // transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: height ease 1s;
        &:hover{
          background: rgba( $brand-primary, .9);
          height: 190px;
          transition: height ease 1s;
        }
      a {
        color:white;
        &:hover{
          text-decoration: none;
        }
      }
    }
  }

  .slick-active {
    &:hover {
      .featured-title {
        background: rgba( $brand-primary, .9 );
        height: 190px;
        transition: height ease 1s;
        }
    }
  }

}



.slick-arrow {
  position: absolute;
  z-index: 10;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
  font-size: 0;
  outline: none;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  transition: all 0.25s linear;

  &:before {
    content: '';
    width: 20px;
    height: 20px;
    margin: 0 auto;
    background-color: #fff;
    mask-image: url(http://cdn.flaticon.com/svg/22/22086.svg);
    display: block;
    // opacity: .5;
    transition: all .5s ease-out;
  }


  &.slick-next {
    left: auto;
    right: 10px;

    &:before {
      transform: rotate(180deg);
    }

  }

  &:hover:before {
    opacity: 1;
    background-color: $brand-primary;
  }
  &:hover {
    background: #fff;
  }

}
