.slick-slide img{
  width: 100%;
  height: auto;
}

.center {

  .slick-slide{
    position: relative;
    .featured-title{
      padding: 28px 28px 18px 28px;
      left: 0;
      right: 0;
      top: auto;
      bottom: 0;
      position: absolute;
      background: rgba(0, 0, 0, 0.4);
      transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
        &:hover{
          background: $brand-primary;
          height: auto;
        }
      a {
        color:white;
        &:hover{
          text-decoration: none;
        }
      }
    }
  }
}

.slick-arrow {
  position: absolute;
  z-index: 10;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
  font-size: 0;
  outline: none;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: all 0.25s linear;

  &:before {
    content: '';
    width: 20px;
    height: 20px;
    margin: 0 auto;
    background-color: #fff;
    mask-image: url(http://cdn.flaticon.com/svg/22/22086.svg);
    display: block;
    opacity: .5;
    transition: all .5s ease-out;
  }


  &.slick-next {
    left: auto;
    right: 10px;

    &:before {
      transform: rotate(180deg);
    }

  }

  &:hover:before {
    opacity: 1;
    background-color: $brand-primary;
  }
  &:hover {
    background: #fff;
  }

}
